<?xml version="1.0"?>
<!--
/**
 * PHP version 5
 *
 * @category  Cti
 * @package   Cti_Menubuilder
 * @author    Paul Partington <p.partington@ctidigital.com>
 * @copyright 2015 CTI Digital (http://www.ctidigital.com)
 * @license   http://opensource.org/licenses/MIT The MIT License (MIT)
 * @link      http://www.ctidigital.com
 */
-->
<config>
    <modules>
        <Cti_Menubuilder>
            <version>1.0.0</version>
        </Cti_Menubuilder>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cti_Menubuilder before="Mage_Adminhtml">Cti_Menubuilder_Adminhtml</Cti_Menubuilder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cti_menubuilder>
                    <file>cti/cti_menubuilder.xml</file>
                </cti_menubuilder>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <cti_menubuilder>
                <class>Cti_Menubuilder_Block</class>
            </cti_menubuilder>
        </blocks>
        <helpers>
            <cti_menubuilder>
                <class>Cti_Menubuilder_Helper</class>
            </cti_menubuilder>
        </helpers>
        <models>
            <cti_menubuilder>
                <class>Cti_Menubuilder_Model</class>
                <resourceModel>cti_menubuilder_resource</resourceModel>
            </cti_menubuilder>
            <cti_menubuilder_resource>
                <class>Cti_Menubuilder_Model_Resource</class>
                <entities>
                    <menu>
                        <table>cti_menubuilder_menu</table>
                    </menu>
                    <menu_item>
                        <table>cti_menubuilder_menu_item</table>
                    </menu_item>
                    <menu_store>
                        <table>cti_menubuilder_menu_store</table>
                    </menu_store>
                    <item_value>
                        <table>cti_menubuilder_item_value</table>
                    </item_value>
                </entities>
            </cti_menubuilder_resource>
        </models>
        <resources>
            <cti_menubuilder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cti_menubuilder_read>
            <cti_menubuilder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cti_menubuilder_write>
            <cti_menubuilder_setup>
                <setup>
                    <module>Cti_Menubuilder</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </cti_menubuilder_setup>
        </resources>
    </global>
    <cti_menubuilder>
        <fields>
            <name>
                <type>text</type>
                <label>Name</label>
            </name>
            <title>
                <type>text</type>
                <label>Title</label>
                <required>1</required>
            </title>
        </fields>
    </cti_menubuilder>
</config>